.skills-box {
    width: 100%;
}

.skill-item {
    display: inline-block;
    padding: 1rem;
    color: #BAC3B8;
    background-color: #212023;
    border-radius: 3px;
    margin: 5px;
    transition: all 1s;
}

.skill-item:hover {
    color: #212023;
    background-color: #BAC3B8;
    transform: scale(.9);
    transform-origin: right;
}

.skill-item h3 {
    font-size: 1.5rem;
    font-weight: 300;
    word-spacing: 5px;
    text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
    .skill-item h3 {
        word-spacing: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .skill-item {
        margin: unset;
        margin-right: 1rem !important;
        margin-bottom: 1rem !important;
    }
    .skill-item:hover {
        transform: unset;
    }
}

@media only screen and (max-width: 480px) {
    .skill-item h3 {
        font-size: 1.3rem;
    }
}
