.section-story {
    padding: 4rem 10rem;
}

.box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box-1-of-2 {
    flex-basis: 49%;
}

.heading-secondary {
    font-size: 4rem;
    color: #BAC3B8;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.heading-secondary::after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #BAC3B8;
    margin-top: 1rem;
}

.long-copy {
    font-size: 1.3rem;
    color: #919191;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 150%;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
    .section-story {
        padding: 4rem 5rem;
    }
    .box {
        display: block;
    }
    .story-box {
        margin-bottom: 4rem;
    }
    .heading-secondary-skills {
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    .section-story {
        padding: 0rem 2rem 4rem;
    }
    .long-copy {
        font-size: 1.6rem;
    }
}