.header {
    width: 100%;
    height: 100vh;
    padding: 10rem 0;
}

.box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box-1-of-2 {
    flex-basis: 50%;
}

.header-description {
    padding-left: 10rem;
}

.heading-main {
    font-size: 6rem;
    color: #BAC3B8;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.heading-main span {
    color: #8E44AD;
}

.heading-sub {
    font-size: 3rem;
    color: #BAC3B8;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.heading-sub span {
    color: #8E44AD;
}

.heading-sub i {
    font-size: 2.5rem;
    color: #8E44AD;
    margin-left: 1rem;
}

.long-copy {
    width: 75%;
    font-size: 1.3rem;
    color: #403D42;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 150%;
    margin-bottom: 10rem;
}

.header-link {
    width: 100%;
    margin-bottom: 4rem;
}

.header-link a {
    font-size: 2rem;
    color: #BAC3B8;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 1s;
}

.header-link a:hover {
    color: #8E44AD;
}

.header-link a i {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.header-social-links {
    width: 100%;
}

.header-social-links a {
    font-size: 1.8rem;
    color: #BAC3B8;
    text-decoration: none;
    margin-right: 4rem;
    transition: all 1s;
}

.header-social-links a:hover {
    color: #8E44AD;
}

.header-social-links a i {
    margin-right: 1rem;
}



@media only screen and (max-width: 1024px) {
    .header {
        padding: 5rem 0;
    }
    .header-description {
        padding-left: 5rem;
    }
    .long-copy {
        margin-bottom: 15rem;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        height: unset;
        padding: 10rem 5rem 5rem;
    }
    .header-description {
        padding-left: unset;
    }
    .box {
        display: block;
    }
    .long-copy {
        width: 100%;
        margin-bottom: 2rem;
    }
    .header-social-links {
        display: none;
    }
}

@media only screen and (max-width: 468px) {
    .header {
        padding: 4rem 2rem;
    }
    .heading-sub {
        width: 60%;
    }
    .long-copy {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }    
}