.contact {
    width: 100%;
    padding: 4rem 0rem;
    text-align: center;
}

.contact-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-box-1-of-2 {
    flex-basis: 50%;
}

.contact-box-1-of-2 a {
    font-size: 1.8rem;
    color: #BAC3B8;
    text-decoration: none;
    margin: 0 2rem;
    transition: all 1s;
}

.contact-box-1-of-2 a:hover {
    color: #8E44AD;
}

.contact-box-1-of-2 a i {
    margin-right: 1rem;
}

.contact-box-1-of-2 p {
    font-size: 1.8rem;
    color: #403D42;
}

@media only screen and (max-width: 768px) {
    .contact-box {
        display: block;
    }
    .contact-box-1-of-2 {
        flex-basis: 50%;
        margin-bottom: 2rem;
    }
}