html {
    font-size: 62.50%;
}

body {
    font-family: 'Source Serif Pro';
    color: #FFF;
    background-color: #141414;
    cursor: unset;
}

::selection {
    background-color: #8E44AD;
    color: #FFF;
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 56.25%
    }
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 50%
    }
}